<div class="push"></div>
  </div>
  <!-- <div class = "foot is-flex-touch">
    <a href = "https://github.com/maxdmc1" target = "_blank" class = "ui button">Max McCord</a>
    <a href = "https://github.com/marktmcgraw" target = "_blank" class = "ui button">Mark McGraw</a>
    <a href = "https://github.com/Ajschlander" target = "_blank" class = "ui button">Austin Schlander</a>
    <a href = "https://github.com/bialoorlem" target = "_blank" class = "ui button">Elliot Trejo</a>
    <a href = "https://github.com/binrz00" target = "_blank" class = "ui button">Brian Zauner</a>
</div> -->
<br>
<footer class = "credits"><div class = "foot is-flex-touch">
  <a id="github" href = "https://github.com/maxdmc1" target = "_blank" class = "ui button">Max McCord</a>
  <a id="github" href = "https://github.com/marktmcgraw" target = "_blank" class = "ui button">Mark McGraw</a>
  <a id="github" href = "https://github.com/Ajschlander" target = "_blank" class = "ui button">Austin Schlander</a>
  <a id="github" href = "https://github.com/bialoorlem" target = "_blank" class = "ui button">Elliot Trejo</a>
  <a id="github" href = "https://github.com/binrz00" target = "_blank" class = "ui button">Brian Zauner</a>
</div> 
  Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">flaticon.com</a>
</footer>