<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Bloggify 2.0</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
   <div class="ui equal width center aligned padded grid">
      <div class="column title">
          <img class = "logo" src="/images/logo.png"></img>
          <div class="ui secondary menu navbar">
            <div class="right menu">
              <div class="item">
                <a href="/blogs" class="ui item button" id="navbar">
                  Home
                </a>
              </div>
            </div>
            <div class="right menu">
              <div class="item">
                <a href="/blogs/new" class="ui item button" id="navbar">
                  New Post
                </a>
              </div>
            </div>
            <div class="right menu">
              <div class="item">
                <a href="/logout" class="ui item button" id="navbar">
                  Logout
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>