<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blog App</title>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <div class="ui large top fixed inverted menu">
            <div class="ui container">
                <a class="item"> Blogify 2.0</a> 
                <a class="item" href="/">Home</a>
                <a class="item" href="/blogs/new">New Blog Post</a>
                <div class="right menu">
                    <div class="item"><a class="ui button inverted">Log in</a></div>
                    <div class="item"><a class="ui primary button inverted">Sign Up</a></div>
                </div>
            </div>
        </div>