<%- include("./partials/header") %>
<div class="center aligned ui grid">
    <div class="row">
        <div class="five wide column">
            <h2>User Name</h2>
            <div class="ui fluid action input">
                <input type="text" id="userName" placeholder="Enter your user name here">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="five wide column">
            <h2>Password</h2>
            <div class="ui fluid action input">
                <input type="text" id="password" placeholder="Enter your password here">
            </div>
        </div>
    </div>
    <button id="login-submit" class="center aligned ui button">
        Log in
    </button>
</div>
<%- include("./partials/footer") %>