<%- include("./partials/headerNoLogin") %>
<div class="ui center aligned grid">
    <div class="left aligned six wide column">
        <h2 class="ui header">Log In</h2>
        <form class="ui form" action="/login" method="POST">
            <div class="field">
                <h3>User Name</h3>
                <input type="text" name="username" placeholder="User Name" required>
            </div>
            <div class="field">
                <h3>Password</h3>
                <input type="password" name="password" placeholder="Password" required>
            </div>     
            <div class="ui grid">
                <div class=" right floated four wide column">
                    <input class="ui green button" type="submit">
                 </div> 
                </div> 
            </form>
         </div>
        </div>
<%- include("./partials/footer") %>