.title {
  background-color: #c06014;
}
.logo {
  height: 92px;
  position: absolute;
  top: 0%;
  left: 5%;
}
h1 {
  color: whitesmoke;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

#navbar {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

a:hover {
  background-color: black !important;
}

body {
  background-color: #eddbcd;
}

.vertically {
  border: 1px solid #cfbfb4;
  border-radius: 3px;
}


.post-title {
  color: black;
  font-size: 35px;
}
#postButton:hover {
  background-color: black;
  color: whitesmoke;
}
.credits {
  text-align: center;
}
.post-title{
  color:black;
}
.wrapper{
  min-height: 100%;
}
.push{
  height: 50px;
}