.title {
  background-color: #c06014;
}
.logo {
  height: 92px;
  position: absolute;
  top: 0%;
  left: 5%;
}
h1 {
  color: whitesmoke;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

#navbar {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

#navbar:hover {
  background-color: black;
}

body {
  background-color: #eddbcd;
}

.vertically {
  border: 1px solid #cfbfb4;
  border-radius: 3px;
}
#postButton:hover{
cursor: pointer;
}

.post-title {
  color: black;
  font-size: 35px;
}

.credits {
  text-align: center;
}
.wrapper{
  min-height: 100%;
}
.push{
  height: 50px;
}
footer{
  background-color: rgb(219, 185, 100);
  color: black;
  border-top: solid 4px blanchedalmond;
}
.random{
  position: relative;
  left: 15%;
}